* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

td {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
}

i {
	font-size: 24px;
	text-shadow: 0 0 3px grey;
}

.white {
	background: #FFCF73;
}

.black {
	background: #7a5000;
}

.white-figure {
	color: white;
}